@import url('https://fonts.googleapis.com/css?family=Cairo');

:root {
  --lightGreen: #08cc96;
  --white: #ffffff;
  --gray: #707070;
  --redDanger: #721c24;
  --lightRed: #f8d7da;
}

body {
  margin: 0;
  font-family: Cairo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
  font-size: 1rem;
  color: var(--white);
  background: transparent linear-gradient(180deg, #161616 0%, #313131 100%) 0%
    0% no-repeat padding-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table td,
table th {
  border-bottom: 1px solid var(--lightGreen);
  padding: 20px;
}

table caption {
  text-align: center;
}

a,
a:visited {
  outline: none;
  text-decoration: none;
}

h1 {
  font-size: calc(1rem + 3vw);
}

h3 {
  font-size: calc(1rem + 1vw);
}

h5,
h6 {
  font-size: calc(0.7rem + 0.5vw);
}

p {
  font-size: calc(0.5rem + 0.7vw);
}

.p-medium {
  font-size: calc(0.5rem + 0.7vw);
}

.p-small {
  font-size: calc(0.5rem + 0.2vw);
}

@media screen and (max-width: 450px) {
  .blog-container .body img {
    width: 100% !important;
    transform: scale(1) !important;
  }
}

.media svg {
  width: calc(1rem + 1vw);
  height: calc(1rem + 1vw);
  color: var(--lightGreen);
  margin: 0 2px;
}

li.media {
  display: flex;
  align-items: center;
  background: #fff3;
  border-radius: 0.2rem;
  justify-content: center;
  padding: 0.2rem;
  margin: 0.3rem;
  transition: all ease-in-out 0.1s !important;
}

li.media:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 769px) {
  ul.media-list.fixed-media {
    display: none !important;
  }
}

.disabled {
  opacity: 0.3;
}

.blog-nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgba(22, 22, 22, 0.5);
}

.nav-item > .nav-link {
  color: var(--white) !important;
  font-size: calc(1rem + 0.2vw);
}

.nav-item.active > .nav-link {
  color: var(--lightGreen) !important;
  border-bottom: 2px solid var(--lightGreen) !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.blog-card {
  background: transparent linear-gradient(to right, #313131 0%, #161616 100%) 0%
    0% no-repeat padding-box;
  color: var(--white) !important;
  border-radius: 5px;
}

.blog-card .card-body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.blog-card .card-text {
  font-size: calc(0.2rem + 0.7vw);
}

.featured-wrapper {
}

.featured-blogs {
  margin: 0 0 50px 0;
  padding: 50px 0;
}

.featured-blogs,
.blogs-list {
  border-radius: 56px;
  background-color: #313131;
}

.blogs-list {
  border-radius: 56px;
}

@media screen and (max-width: 450px) {
  .featured-blogs,
  .blogs-list {
    margin: 20px;
  }
}

.blogs-list {
  padding: 36px 53px;
  margin-top: 50px;
}

.carousel-title h2,
.blogs-list-title h2 {
  font-size: calc(1rem + 2vw);
  color: var(--lightGreen);
  font-weight: bold;
  margin-bottom: 4rem;
}

.carousel-inner .blog-card {
  background: transparent !important;
}

.carousel-inner .blog-card-title,
.carousel-inner .card-text {
  white-space: break-spaces;
}

.card-text {
  font-style: italic;
}

.container.home {
  position: relative;
  padding-top: 160px;
}

.sidenav {
  position: relative;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  overflow: visible;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: calc(1rem + 1vw);
  color: #2196f3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-top: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: calc(1rem + 0.7vw);
  }
}

.pagination {
  padding: 0;
}

.pagination li {
  padding: 3px 0;
  min-width: 30px;
  margin: 0 5px 0 0;
  text-align: center;
  vertical-align: middle;
  color: var(--white);
}

.pagination li.active {
  border-radius: 10px;
  background-color: #08cc96;
}

.pagination li.next,
.pagination li.previous {
  color: var(--lightGreen);
}

.copyright {
  padding: 5px 0 0;
  margin: 5px 0 0;
  color: #fff;
  background-color: #313131;
  bottom: 0;
  width: 100%;
}

.sort-options input {
  display: none;
}

.categories-filters label,
.sort-options label {
  cursor: pointer;
  opacity: 0.7;
  white-space: nowrap;
  margin: 3px 0;
  color: var(--lightGreen);
}

.categories-filters .css-1uccc91-singleValue,
.sort-options .css-1uccc91-singleValue {
  color: var(--white);
}

.categories-filters .css-yk16xz-control,
.categories-filters .css-1pahdxg-control,
.categories-filters .css-26l3qy-menu,
.sort-options .css-yk16xz-control,
.sort-options .css-1pahdxg-control,
.sort-options .css-26l3qy-menu {
  background-color: #313131;
}

.categories-filters .css-1pahdxg-control,
.categories-filters .css-1pahdxg-control:hover,
.sort-options .css-1pahdxg-control,
.sort-options .css-1pahdxg-control:hover {
  border-color: var(--lightGreen);
  box-shadow: 0 0 0 1px var(--lightGreen);
}

.blogs-list .alert {
  background: transparent;
  color: #fff;
  opacity: 0.7;
  margin: 10% auto;
}

.filters-title,
.sort-title {
  color: var(--lightGreen);
  font-size: calc(1rem + 1vw);
}

.blog-container img {
  cursor: pointer;
  border-radius: 10px;
}

.blog-container .title h2 {
  font-size: calc(1rem + 1vw);
  font-weight: 500;
  color: var(--lightGreen);
}

.blog-container .date p {
  font-size: calc(1rem + 0.5vw);
  font-weight: 300;
}

.sharing-icons {
  width: 27px;
  height: 27px;
}

.blog-container hr {
  border-color: var(--gray);
}

.similar-blogs h3 {
  margin-top: 80px;
  color: var(--lightGreen);
  font-size: calc(1rem + 2vw);
}

.blog-container .cover {
  width: calc(40rem + 2vw) !important;
  height: 100%;
  display: block;
  margin: auto;
}

pre {
  text-align: left;
  direction: ltr;
  background-color: #08090a !important;
  border: 1px solid #08090a !important;
  border-radius: 10px;
  padding: 24px !important;
  color: inherit !important;
  width: 80%;
  margin: 30px auto 20px;
}

.blog-card-title {
  color: var(--white);
}

.blog-card-title:hover {
  color: var(--lightGreen);
  text-decoration: none !important;
}

.blog-tag {
  background-color: var(--lightGreen);
  color: var(--white);
  padding: 1px 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.privacy-terms a {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}

.privacy-terms a:hover {
  color: var(--lightGreen);
}

.about-us,
.filtered,
.privacy-policy,
.terms-of-use {
  padding: 35px 65px;
  margin: 0 auto 10%;
  border-radius: 5px;
  background-image: linear-gradient(to right, #128b8f, #111d1d);
  min-height: 10vh;
  color: var(--white);
  box-shadow: 0 0 0 1px #ffffff33;
  overflow-wrap: anywhere;
}

section.filtered-by-tag {
  border-radius: 56px;
  background-color: #313131 !important;
  padding: 1rem;
}

.utl-wrapper {
  background: url('./assets/backs/utl-cover.jpeg') center/cover;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.terms-wrapper {
  background: url('./assets/backs/terms-cover.jpeg') center/cover;
  min-height: 100vh;
  padding-bottom: 2rem;
}

a.privacy-policy-link {
  cursor: pointer;
  text-decoration: none;
}

.contact-wrapper {
  padding-top: 2rem;
  background: url('./assets/backs/contact-cover.jpeg') center/cover;
  min-height: 120vh;
}

.contact-us-form {
  margin: 0px auto 90px;
}

.contact-us-form label {
  color: var(--lightGreen);
}

.contact-us-form input {
  border-color: var(--lightGreen);
}

.contact-us-form .btn-success,
.contact-us-form .btn-success:hover {
  background-color: var(--lightGreen);
}

.footer {
  background-color: #161616;
  padding: 32px 0;
}

.fixed-media {
  position: fixed;
  bottom: 300px;
}

/* quote style */
blockquote {
  margin: 10px auto;
  padding: 15px 15px 5px;
  border-right: 5px solid var(--lightGreen);
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: 0.5em;
}
blockquote p {
  color: #adb5bd;
  font-size: 14pt;
  font-style: italic;
  line-height: 1.4;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif',
    'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
blockquote footer {
  margin-top: 0.5em;
  padding: 0;
  color: #777;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}
blockquote footer:before {
  content: '— ';
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #999;
}
blockquote:nth-of-type(even) footer {
  text-align: right;
}
blockquote:nth-of-type(even) footer:before {
  content: '';
}
blockquote:nth-of-type(even) footer:after {
  content: ' —';
}

/* Slideshow */
.slideshow {
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  width: 100%;
}

.slide {
  display: inline-block;
  width: 100%;
  padding: 0 50px;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;
  opacity: 0.5;
  background-color: var(--lightGreen);
}

.slideshowDot.active {
  opacity: 1;
}

.page-not-found {
  position: relative;
  text-align: center;
}

.page-not-found p {
  color: var(--lightGreen);
  font-size: calc(1rem + 1vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .page-not-found img {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .page-not-found img {
    width: 100%;
  }
}

.home-ad-container {
  padding: 8px 0;
  background-color: var(--lightGreen);
  border-radius: 20px;
  color: var(--white);
  width: 80%;
}

.blog-ad-container {
  padding: 8px 20px;
  background-color: var(--lightRed);
  border-radius: 20px;
  color: var(--redDanger);
  width: 60%;
}

.blog-recaptcha div,
.blog-recaptcha iframe {
  width: 100% !important;
}

.featured-blogs .back-btn {
  right: 0vw;
}

.featured-blogs .next-btn {
  left: 0vw;
}

.featured-blogs .slider-arrow {
  position: absolute;
  font-size: calc(2rem + 0.5vw);
  border: none;
  color: var(--lightGreen);
  background-color: transparent;
  top: 12rem;
}

.moving-text {
  height: 25px;
  overflow: hidden;
  position: relative;
}
.moving-text font {
  position: absolute;
  white-space: nowrap;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: moving-text 25s linear infinite;
  -webkit-animation: moving-text 25s linear infinite;
  animation: moving-text 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes moving-text {
  0% {
    -moz-transform: translateX(-10%);
  }
  100% {
    -moz-transform: translateX(100%);
  }
}
@-webkit-keyframes moving-text {
  0% {
    -webkit-transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
@keyframes moving-text {
  0% {
    -moz-transform: translateX(-10%); /* Firefox bug fix */
    -webkit-transform: translateX(-10%); /* Firefox bug fix */
    transform: translateX(-10%);
  }
  100% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
}
